<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Package visibility (Android 11+): find NIP-55 signers, reach their
         content provider, and check that a nostrconnect:// handler exists. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="nostrsigner" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="nostrconnect" />
        </intent>
    </queries>
</manifest>
